@tailwind base;
@tailwind components;
@tailwind utilities;

/* RESET */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  min-height: 100%;
  height: auto;
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  overflow-x: hidden;
  @apply font-Satoshi;
}

html {
  scroll-padding-top: 100px;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

.text-shadow-lg-super {
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.85);
}

.text-shadow-lg-title {
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.30);
}

@media (min-width: 992px) {
  .lg\:text-shadow-super {
    text-shadow: none;
  }

  .lg\:text-shadow-title {
    text-shadow: none;
  }
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  width: 16px !important;
  height: 4px !important;
  border-radius: 5px !important;
  margin: 0 6px !important;
}

.swiper-pagination {
  bottom: 2px !important;
}

.swiper-wrapper {
  height: max-content !important;
  width: max-content !important;
  padding-bottom: 64px;
}

.swiper-pagination-bullet-active {
  background: #2F9B92 !important;
}

.swiper-slide.swiper-slide-active > .slide_active\:border-indigo-600 {
  --tw-border-opacity: 1;
  border-color: rgb(79 70 229 / var(--tw-border-opacity));
}

.swiper-slide.swiper-slide-active > .group .slide_active\:text-gray-800 {
  ---tw-text-opacity: 1;
  color: rgb(31 41 55 / var(--tw-text-opacity));
}

/* Scrollbar Customization */
::-webkit-scrollbar {
    width: 7px;
}

/* Fundo da barra */
::-webkit-scrollbar-track {
    background: #f6f6f6;
    border-radius: 5px;
}

/* Cor da barra do scroll */
::-webkit-scrollbar-thumb {
    background: #2F9B92;
    border-radius: 5px;
}

/* Quando o rato passa por cima */
::-webkit-scrollbar-thumb:hover {
    background: #257872;
}

@media (max-width: 575.98px) {
  .scroll-hidden-mobile::-webkit-scrollbar {
    display: none;
  }

  .scroll-hidden-mobile {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
}